@import 'variables';

html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	background: url('../images/background.jpg') no-repeat;
	background-attachment: fixed;
	background-size: cover;
	font: $font-size $font-family;
	color: #fff;
	margin: 0;
}

/* Selection */

::-moz-selection { background: #FFFACD; color: #333; }
::selection { background: #FFFACD; color: #333; }

/* Links */

a {
	text-decoration: none;
	color: #fff;

	transition: all $trans-time-easing;

	&:hover {
		color: rgba(255,255,255,0.8);
	}
}

/* Lists */

ul {

}

nav {
	ul {
		padding: 0;
		margin: 0;
		list-style: none;

		li {
			display: inline-block;
		}
	}
}

/* Forms */

form {
	input, textarea {
		font: $font-size $font-family;
		padding: 8px;
		border: 2px solid #ececec;
		color: #333;

		transition: border .15s;

		&:focus {
			border-color: $blue-light;
			outline: 0;
		}
	}

	input {
		margin-bottom: 14px;
	}

	.half-size {
		width: 49%;

		&:nth-child(odd) {
			margin-right: 2%;
		}
	}

	textarea {
		width: 100%;
		min-height: 150px;
	}
}

@import 'views';
@import 'buttons';
@import 'menu';
@import 'footer';
@import 'question-box';
@import 'popup';
@import 'helpers';