// Variables
$blue-light: #1797d4;
$blue-dark: #172d55;
$dark-text: #333;
// Universal transition time, easing
$trans-time-easing: .15s;

html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	background: url('../images/background.jpg') no-repeat;
	background-size: cover;
	font: 14px 'Roboto Condensed', Helvetica, Arial, sans-serif;
	color: #fff;
	margin: 0;
}

/* Links */

a {
	text-decoration: none;
	color: #fff;

	transition: all $trans-time-easing;

	&:hover {
		color: rgba(255,255,255,0.8);
	}
}

/* Lists */

ul {

}

nav {
	ul {
		padding: 0;
		margin: 0;
		list-style: none;

		li {
			display: inline-block;
		}
	}
}

/* Buttons */

.btn {
	padding: 5px 12px;
	text-shadow: rgba(0,0,0,0.25);
}

.btn-primary {
	background: $blue-light;
	color: #fff;
	font-size: 16px;

	&:hover {
		background: $blue-dark;
		color: #fff;
	}
}

.btn-lg {
	font-size: 20px;
	padding: 10px 20px;
}

/* Wrapper */

.wrapper {
	height: 100vh;
	margin: 0 10px;
	position: relative;
}

/* Menu */

.menu {
	padding: 10px 10px 10px 0;

	ul {

	}

	li {

		margin: 0 4px;

		&:first-child {
			margin-left: 0;
		}

		a {
			padding: 6px 18px;
			border: 1px solid rgba(255,255,255,0.5);
			display: block;

			transition: background $trans-time-easing;

			&:hover {
				color: #fff;
				background: rgba(255,255,255,.15);
			}
		}
	}
}

/* Main */

.main {
	display: flex;
	flex: 1;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 90vh;
	
	.intro-text {
		text-align: center;
		margin-bottom: 35px;
		color: #fff;
		text-shadow: 1px 1px rgba(0,0,0,0.4);

		h1 {
			font-size: 40px;
			margin: 0 0 15px;
		}

		article {
			font-size: 15px;
		}
	}
}

/* Footer */

.footer {
	position: absolute;
	bottom: 10px;
	right: 0;

	li {
		margin: 0 5px;
	}

	a {
		padding: 4px;
	}
}

/* Menu popup */


/* Question popup */

.question-popup {
	max-width: 50%;
	width: 100%;
	padding: 25px;

	background: rgba(23, 45, 85, 0.35);

	h2, h3, h4, h5, h6 {
		margin-top: 0;
	}

	// Question title
	header {
		position: relative;

		h2 {
			margin-bottom: 20px;
			text-shadow: 1px 1px rgba(0,0,0,0.5);
		}

		.question-count {
			position: absolute;
			right: -18px;
			top: -20px;
			font-size: 16px;
			text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
		}
	}

	// Answers list
	.answers-list {
		ul {
			padding: 0;
			margin: 0;
		}

		li {
			display: block;
			font-size: 16px;
			cursor: pointer;
			padding: 6px;
			margin: 2px 0;

			counter-increment: answer-number;
			transition: background $trans-time-easing;

			&:before {
				content: counter(answer-number) ". ";
			}

			&:hover {
				background: rgba(23, 151, 212, 0.75);
			}
		}
	}

	// Footer, buttons
	footer {
		margin-top: 20px;
	}

	.go-prev-question {
		float: left;
	}

	.go-next-question {
		float: right;
	}
}