/* Popup */

.popup-overlay {
	position: fixed;
	top: 0; bottom: 0; left: 0; right: 0;
	width: 100%;
	height: 100%;

	display: flex;
	justify-content: center;
	align-items: center;

	z-index: 99;
	background: rgba(0,0,0,0.45);
	
	opacity: 0;
	transition: opacity .3s;

	&.opened {
		opacity: 1;
	}
}

.popup {
	background: rgba(23, 45, 85, 0.9);
	box-shadow: 0 0 6px rgba(0,0,0,0.4);

	padding: 20px;
	max-width: 420px;
	width: 100%;
	text-align: center;

	transform: scale(0, 0);
	transition: transform .3s;

	.close {
		font-size: 16px;
		position: absolute;
		right: 5px; top: 0;
		padding: 7px;
		cursor: pointer;
	}

	a {
		color: $blue-light;

		&:hover {
			opacity: 0.8;
		}
	}

	&.opened {
		transform: scale(1, 1);
	}
}