/* Question box */

.question-box {
	max-width: 45%;
	width: 100%;
	padding: 25px;

	background: rgba(23, 45, 85, 0.35);

	h2, h3, h4, h5, h6 {
		margin-top: 0;
	}

	// Question title
	header {
		position: relative;

		h2 {
			margin-bottom: 20px;
			text-shadow: 1px 1px rgba(0,0,0,0.5);
		}

		.question-count {
			position: absolute;
			right: -18px;
			top: -20px;
			font-size: 16px;
			text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
		}
	}

	// Answers list
	.answers-list {
		ul {
			padding: 0;
			margin: 0;
		}

		li {
			display: block;
			font-size: 16px;
			cursor: pointer;
			padding: 6px;
			margin: 2px 0;

			counter-increment: answer-number;
			transition: background $trans-time-easing;

			&:before {
				content: counter(answer-number) ". ";
			}

			&:hover, &.active {
				background: rgba(23, 151, 212, 0.75);
			}
		}
	}

	// Footer, buttons
	footer {
		margin-top: 20px;
	}

	.go-prev-question {
		float: left;
	}

	.go-next-question {
		float: right;
	}
}

/* Form */
form {
	input, textarea {
		font: $font-size $font-family;
		padding: 8px;
		border: 2px solid #ececec;
		color: #333;

		transition: border .15s;

		&.error {
			border-color: #c92121;
		}

		&:focus {
			border-color: $blue-light;
			outline: 0;
		}
	}

	input {
		margin-bottom: 14px;
	}

	.half-size {
		width: 49%;

		&:nth-child(odd) {
			margin-right: 2%;
		}
	}

	textarea {
		width: 100%;
		min-height: 150px;
	}
}

.validation-errors {
	p {
		margin: 0 0 2px;
	}
}

/* Responsive */
@media screen and (max-width: 1200px) {
	.question-box {
		max-width: 60%;
	}
}

@media screen and (max-width: 900px) {
	.question-box {
		max-width: 80%;
	}
}

@media screen and (max-width: 600px) {
	.question-box {
		max-width: 99%;

		footer {
			text-align: center;
			margin-top: 30px;

			.btn {
				display: inline-block;
				float: none;
				margin: 0 4px;
				font-size: 18px;
				padding: 7px 16px;
			}
		}
	}
}

@media screen and (max-width: 480px) {
	form {
		.half-size, .half-size:nth-child(odd) {
			margin: 0 0 10px;
			width: 100%;
		}
	}

	.validation-errors p {
		font-size: 16px;
	}
}