<section class="full-height main-view">
	<section class="question-box">
		<header>
			<h2 class="question-name">Fill your informations</h2>
			<span class="question-count">5/5</span>
		</header>
		<form>
			<p><input class="half-size" type="text" name="" placeholder="Your name"><input class="half-size" type="text" name="" placeholder="Your last name"></p>
			<p><input class="half-size" type="text" name="" placeholder="Email"><input class="half-size" type="text" name="" placeholder="Your phone number"></p>
			<p><textarea placeholder="In few words, write about..."></textarea></p>
			<a href="#" class="btn btn-primary btn-lg btn-submit">Submit</a>
		</form>
	</section>
</section>