<section class="single-article main-view">
	<header>
		<h1>Prizes</h1>
	</header>
	<article>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam et voluptas tenetur dolorem obcaecati facere rerum nemo, architecto ratione! Quos.</p>
		<h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, blanditiis!</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A itaque ducimus, numquam veniam velit error repellendus corporis quos quod consectetur nam est dolores temporibus suscipit, nesciunt neque animi perferendis, molestias? Rem culpa impedit, recusandae, possimus explicabo odit autem, sapiente dolorum magni eius in nam id ad vero, quaerat error perferendis!</p>
	</article>
</section>