<section class="full-height main-view">
	<section class="question-box">
		<header>
			<h2 class="question-name">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto sit, molestias sint ducimus a totam ea officia est doloremque laboriosam.</h2>
			<span class="question-count">1/5</span>
		</header>
		<div class="answers-list">
			<ul>
				<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, impedit.</li>
				<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui, at!</li>
				<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, temporibus.</li>
				<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus, aliquam.</li>
			</ul>
		</div>

		<footer>
			<a class="btn btn-primary go-prev-question" href="/question/1">Go back</a>
			<a class="btn btn-primary go-next-question" href="/question/final">Next question</a>
		</footer>
	</section>
</section>