<section class="single-article main-view">
	<header>
		<h1>Rules</h1>
	</header>
	<article>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam et voluptas tenetur dolorem obcaecati facere rerum nemo, architecto ratione! Quos.</p>
		<h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, blanditiis!</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A itaque ducimus, numquam veniam velit error repellendus corporis quos quod consectetur nam est dolores temporibus suscipit, nesciunt neque animi perferendis, molestias? Rem culpa impedit, recusandae, possimus explicabo odit autem, sapiente dolorum magni eius in nam id ad vero, quaerat error perferendis!</p>
		<ol>
			<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat libero ducimus, consectetur perspiciatis.</li>
			<li>Harum aperiam, dicta et, ipsam, culpa cum quas, quibusdam unde numquam debitis ut.</li>
			<li>Harum unde assumenda, dicta odit. Illo atque, pariatur minus blanditiis, aliquam dolor officia.</li>
			<li>Exercitationem delectus atque mollitia eaque ipsam officia sed autem sequi, tempore ipsa! Ratione.</li>
			<li>Sunt reiciendis consectetur exercitationem omnis asperiores, autem, labore assumenda. Quae ad ducimus dolore!</li>
			<li>Autem, sed soluta quibusdam deleniti officiis, rem nemo blanditiis, eum quaerat et tempora.</li>
			<li>Quos ea consectetur maxime dicta, earum id distinctio ipsam ut ratione harum! Placeat.</li>
		</ol>
	</article>
</section>